@media screen and (min-width: 1370px) and (max-width: 3000px) {

	* {
		margin: 0;
		padding: 0;
		font-family: "微软雅黑", "黑体";
	}

	body {
		background: url(../img/background1.png);
	}

	#preloader {
		background: #ffffff;
		opacity: 0.7;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	#status {
		background: url(../img/preloader.gif) center center;
		background-size: cover;
		height: 200px;
		width: 200px;
		left: 45%;
		top: 45%;
		position: absolute;
	}

	#head {
		width: 100%;
		height: 30px;
		line-height: 30px;
		margin: 0px auto;
		font-size: 13px;
		font-family: "微软雅黑";
		color: white;
		text-indent: 20px;
		background: rgb(34, 34, 34);
	}

	#head a {
		color: white;
		text-decoration: none;
		/*去掉下划线*/
		font-weight: 800;
		/*加粗*/
		padding: 0px 5px;
	}

	#head a:hover {
		color: #ccffff;
	}

	/*鼠标放上去改变文字颜色*/
	#head .head2 {
		float: right;
	}

	a {
		text-decoration: none;
		/*文本下划线*/
	}

	#bg {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		/*背景颜色半透明*/
		position: fixed;
		/*固定定位*/
		left: 0;
		top: 0;
		z-index: 4;
	}

	#dl {
		width: 600px;
		height: 350px;
		background: url(../img/login.jpg) center top no-repeat;
		background-size: 100%;
		position: fixed;
		z-index: 5;
	}

	#dl .title {
		width: 100%;
		height: 50px;
		background: transparent;
		line-height: 50px;
		font-size: 20px;
		color: #fff;
		border-bottom: 1px solid white;
	}

	#dl .title a.close div.buttom_close {
		height: 25px;
		width: 30px;
		background: url(../img/close.png);
		background-size: 100% 100%;
	}

	#dl .title a.close div.buttom_close:hover {
		background: url(../img/close2.png);
		background-size: 100% 100%;
	}

	#dl .title a.close {
		float: right;
		/*右浮动*/
		margin-right: 0px;
		color: #666;
		padding: 0px 0px 10px 10px;
	}

	#dl p.info {
		color: #fff;
		padding: 0 20px;
		font-size: 14px;
		text-align: center;
	}

	#dl form p {
		margin-top: 20px;
		margin-left: 120px;
		color: #fff;
	}

	#dl form p input {
		width: 260px;
		height: 35px;
		padding-left: 10px;
		border: 0;
		/*粗细 线型 颜色*/
		border-radius: 5px;
	}

	#dl form p input.bottom {
		padding: 0;
		margin-left: 50px;
		background-color: #000000;
		color: #FFFFFF;
		width: 90px;
		cursor: pointer;
	}

	#dl form p input.bottom:hover {
		background: lightseagreen;
	}

	#dl form p a.registers {
		color: white;
		margin-left: 20px;
		font-size: 15px;
		font-weight: 500;
		text-decoration: underline;
	}

	#dl form p a.registers:hover {
		color: lightseagreen;
	}

	#Adv {
		width: 100%;
		height: 285px;
		position: relative;
	}

	#Adv .ImgList {
		width: 100%;
		height: 285px;
		position: absolute;
		/*绝对定位*/
		left: 0px;
		top: 0px;
		z-index: 2;
	}

	#Adv ul.button li {
		width: 10px;
		height: 10px;
		background: #cccccc;
		float: left;
		margin: 0 5px;
		list-style-type: none;
	}

	#Adv ul.button {
		height: 10px;
		position: absolute;
		left: 48%;
		bottom: 25px;
		z-index: 3;
		display: inline-block;
		/*行内块级元素*/
	}

	#Adv ul.button li.hover {
		background: #fff;
	}

	#homepage {
		width: 1800px;
		height: 800px;
	}

	#homepage .leftborder .catelog {
		width: 200px;
		height: 800px;
		float: left;
		text-align: left;
	}

	#homepage .leftborder .catelog ul.sidebar ul.second-1 {
		display: none;
	}

	#homepage .leftborder .catelog ul.sidebar ul.thrid-1 {
		display: none;
	}

	#homepage .leftborder .catelog ul.sidebar ul.search{
		display: none;
	}

	.search_1,.search_2,.search_3 {
		display: none;
		width: 300px;
		height: 150px;
		background: #666;
		z-index: 4;
		position: fixed;
		padding-top: 50px;
		border-radius: 10px;
		opacity: 0.8;
		color: white;
		top: 30%;
		padding-left: 10px;

	}

	.search_3{
		height: 150px;
	}

	.search_1 input.txt,.search_2 input.txt {
		width: 150px;
		height: 23px;
		border: 1px solid #e1e1e1;
		font-size: 12px;
		color: #999;
		text-indent: 10px;
		/*首行缩进*/
		position: absolute;
		left: 20px;
		top: 50px;
		float: left;
	}

	.search_3 input.txt{
		width: 150px;
		height: 23px;
		border: 1px solid #e1e1e1;
		font-size: 12px;
		color: #999;
		text-indent: 10px;
	}

	.search_3 input #somedays1{
		margin-left: 3px;
	}

	.search_3 .but{
		width:50px;
		height: 25px;
		border: 0px;

	}
	.search_1 .but,.search_2 .but{
		width: 26px;
		height: 25px;
		background: url(../img/sosoh.jpg);
		border: 0px;
		/*边框设置为0*/
		position: absolute;
		left: 171px;
		cursor: pointer;
	}


	#homepage .leftborder .catelog ul.sidebar li {
		list-style: none;
		width: 198px;
		height: 40px;
		background: rgb(34, 34, 34);
		text-align: center;
		line-height: 40px;
		color: #8aa4af;
	}

	#homepage .leftborder .catelog ul.sidebar li:hover {
		background-color: rgb(30, 40, 44);
		border-left: 3px solid rgb(60, 141, 188);
	}

	#homepage .leftborder .catelog ul.sidebar li a {
		color: #8aa4af;
	}


	#homepage .leftborder {
		width: 210px;
		height: auto;
		float: left;
		overflow-y: auto;
		overflow-x: hidden;
		background: rgb(34, 34, 34);
	}

	#homepage .leftborder .catelog ul.sidebar li.changeBg {
		background-color: rgb(30, 40, 44);
		border-left: 3px solid rgb(60, 141, 188);
	}

	#homepage .rightborder #main {
		width: 1450px;
		height: 700px;
		margin-top: 10px;
	}

	#foot {
		height: 35px;
		width: 100%;
		background: url(../img/headbg.jpg) center top no-repeat;
		background-size: 100% 100%;
		z-index: 2;

	}

	h1 {
		font-size: 45px;
		color: slategrey;
		padding-top: 10px;
		text-align: center;
	}

	#homepage .rightborder {
		width: 1500px;
		height: 700px;
		float: right;
	}

	.datas {
		display: none;
		width: 600px;
		min-height: 400px;
		background: #666;
		z-index: 3;
		position: fixed;
		top: 40%;
		border-radius: 10px;
		opacity: 0.8;
		color: white;
	}

	.datas .default {
		width: 200px;
		height: 75px;
		margin-top: 15px;
		text-align: center;
		float: left;
	}

	.datas .date_day {
		width: 150px;
		height: 60px;
		float: left;
	}

	.datas .date_month {
		width: 120px;
		height: 50px;
		float: left;
	}
	.datas .somedays{
		width: 200px;
		height: 35px;
		margin-top: 15px;
		float: left;
	}

	#unlogin {
		width: 1920px;
		height: 655px;
		background: url(../img/index.png);
	}
}